body {
  margin: 0;
  font-family: Futura, sans-serif;
   background-color: #F3F3EC;
}

/*HEADER AND NAVIGATION STYLES*/

.header {
  height: 75px;
  background-color: #ECF7F2;
  width: 100%;
}

.logo {
  float: left;
  margin-left: 30px;
}

.tab-menu {
  float: right;
  width: 70%;
  padding-top: 35px;
  margin-right: 60px;

}

.tab {
  display: inline-block;
  padding: 10px 30px 10px 30px;
  float: right;
  background-color: white;
  border-radius: 3px;
  border: 1px #D9D9D0 solid;

}

.sub-menu {
  padding-left: 60px;
  padding-top: 20px;
  height: 40px;
  background-color: white;

}


.sub-menu-options {
  height: 30px;
  padding: 10px 20px 10px 20px;
}

.sub-menu-options-selected {
  font-weight: bold;
}

/*DASHBOARD FORMATTING */

.dashboard {
  margin: 30px 60px ;
  overflow: auto;
  width: 1150px;
}

.programs-dashboard {
  width: 100%;
  overflow: auto;
}

.left-dashboard {
  display: inline-block;
  float: left;
  width: 200px;
  overflow: auto;
}

.right-dashboard {
  display:inline-block;
  float: left;
  width: 950px;
  overflow: auto;
}

.program-list {
  float: left;
  display: block;
  padding: 30px;
}

.program-button {
  height: 70px;
  width: 70px;
  background-color: #A0C489;
  margin: 50px 75px 75px;

}

/*PROGRAM STYLES*/

.program {
  float: left;
  display: inline-block;
  width: 250px;
  border: 1px #D9D9D0 solid;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  background-color: white; 
  overflow: auto;
}

.program-summary {
  font-size: 11px;
  color: #80806c;
  background-color: #FBFBF6; 
  border-top: 1px #D9D9D0 solid;
  border-bottom: 1px #D9D9D0 solid;
}

.program-summary-label {
  font-size: 9px;
  font-color: #a1a191;

}

.program-summary-number {
  font-size: 9px;
  color: black;
}

.col-1, .col-2, .col-3 {
  display: inline-block; 
}

.col-1 {
  width: 80px;
  padding: 2px;
}

.col-2 {
  width: 55px;
  padding: 2px;
}

.col-3 {
  width: 60px;
  padding: 2px;

}

.edit {
  background: url(../assets/pencil_icons.png);
  display: inline-block;
  background-position: 0px 17px; 
  height: 17px;
  width: 18px;
}

.hover {
  background-position: 0% 0%; 
}

.graph-label {
  font-size: 10px;
}

.hideSummary {
  visibility: hidden;
  display: none;
}

.extendSummary {
  visibility:show;
}

.extended-program-summary-label {
  font-size: 12px;
}

.extended-program-entry {
  font-size: 11px;
}

.extended-program-entry {
  font-size: 10px;
}

.extended-program-num {
  font-size: 9px; 
}

.show-modal {
  position: fixed;
  top: 200px;
  margin: 0 auto;
  height: 300px;
  width: 500px;
  left: 200px;
  -webkit-transition: 0.6s;
  background-color: white;
  display: block;
  border: 1px black solid;
  border-radius: 3px;
}

.hide-modal {
  visibility: hidden
}

/* FORM STYLING */

form {
  padding: 20px;
}

.form-element {
  margin: 5px;
}

.submit-program {
  bottom: 20px;
  right: 15px;
}

/* PROGRAM LIST */

.program-list-headers > span{
  display: inline-block;
  width: 100px;
  padding: 5px;
  margin-right: 40px;
}

.program-list-entry > span {
  display: inline-block;
  width: 100px;
  padding: 5px;
  margin-right: 40px;
}

br {
  border: 1px #D9D9D0 solid;
  color: #D9D9D0;

}
